
<div class="container full-screen">

    <section class="section thin spaced-paragraphs">

        <h3 [routerLink]="'/cattaga/kiceki'">Cattaga</h3>

        <p>
            Mes clients attendent que je les aide, mais comment les aider si je ne peux m'aider moi-même ? 
            Comment réussir à ignorer l'outrecuidance de mes collègues ? 
            Moi ? 
            Rafael Mostaza je perdrais le droit de faire ce qui me fait vivre ? Vivre mes clients ?
        </p>
        
        <p>
            Non. 
            Je m'en vais à Cattaga, non pas pour y vivre un moment agréable, Dieu c'est que ça ne le sera pas. 
            J'y vais pour me refaire un nom. 
            J'y vais pour prouver à mes chers collègues que ma capacité à aider chaque animal de cette planète ne sera pas entachée par un seul moment de faiblesse.
        </p>
        
        <p>
            J'écris ici. Mon refuge, mon chez moi. 
            Personne ne visite cet endroit et si ça arrivait, personne ne tomberait ici alors je me permet une incartade, un risque inutile.
        </p>
        
        <p>
            Je pense te tenir informé ici. N'hésite pas à passer. C'est voué à être modifié.
        </p>
    
    </section>

</div>